.content{
    /* position */
    position: relative;
    z-index: 1;

    /* style */
    background: turquoise;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.button-bar{
    margin: 2rem 10rem;
    display: flex;
    justify-content: space-between;
}